<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681539890264-fsa796c57aunistva8jfrcbcep3daf2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681539890264-fsa796c57aunistva8jfrcbcep3daf2u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>681539890264-ih8q6d0gpck7st6tf0johdlg6m4kth3b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkMifpx-AeFRpq3H2g1Dsh4zqjgEqV9eU</string>
	<key>GCM_SENDER_ID</key>
	<string>681539890264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scompany.kisaan24</string>
	<key>PROJECT_ID</key>
	<string>kisaan24-renxl7</string>
	<key>STORAGE_BUCKET</key>
	<string>kisaan24-renxl7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681539890264:ios:e3097d0980380802e72e2d</string>
</dict>
</plist>